.example {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: #EAEAEA;
}
.example__title {
  .mainfont(36px,40px);
}
.example__text {
  .arialfont(14px,18px);
  margin: 0;
}
.weight__count, .day__count {
  .mainfont(24px,24px);
  color: @textgray;
}
.weight__description, .day__description {
  .arialfont(12px,12px);
  color: @textgray;
}
.example__price {
  .mainfont (14px,20px);
  text-transform: uppercase;
}
