.filter__form-name {
  .mainfont(16px,18px);
  text-transform: uppercase;
  @media (min-width:@tablet) {
    .mainfont(20px,30px);
  }
}
.filter__name {
  .mainfont(16px,18px);
  color: @textgray;
  text-transform: uppercase;
  @media (min-width:@tablet) {
    .mainfont(20px,30px);
  }
}
