.guide {
  padding: 20px;
  @media (min-width:@tablet) {
    padding-right: 109px;
  }
}
.guide__title {
  margin: 0;
  .mainfont(36px,40px);
}
.guide__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @media (min-width:@tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.guide__description {
  margin: 0;
  .arialfont(14px,18px);
  color: @textgray;
}
.guide__item {
  display: flex;
  @media (min-width:@tablet) {
    flex-direction: column;
    width: 249px;
  }
}
