.main-product-item {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 59px 16px 16px 16px 40px;
  border-top: 1px solid #EBEBEB;
  @media (min-width:@tablet) {
    width: 324px;
    display: flex;
    flex-direction: column;
    border: none;
  }

}
.main-product-item__title {
  .mainfont(16px,20px);
  text-decoration: none;
  text-transform: uppercase;
}
.main-product-item__link {
  text-decoration: none;
  color: @black;
  grid-area: 2/2/5/3;
}
.main-product-item__feauture, .main-product-item__value {
  .arialfont (12px,16px);
  text-transform: capitalize;
  margin: 0;
  width: 70px;
  @media (min-width:@tablet) {
    width: 160px;
  }
}

.main-product-item__value {
  @media (min-width:@tablet) {
    text-align: right;
  }
}
.main-product-item__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  grid-area: 1/1/5/2;
  @media (min-width:@tablet) {
    width: 161px;
    height: 172px;
    margin-top: 36px;
  }
}
.main-product-item__image-big {
@media (min-width:@tablet) {
  width: 168px;
  height: 206px;
  margin-top: 2px;
}
}
.main-product-item__button {
  grid-area: 5/1/6/3;
  display: block;
}
.main-product-item__description-wrapper {
  display: flex;
  flex-wrap: wrap;
}
