.moar-product__title {
  .mainfont(24px,24px);
}
.moar-product-item__name {
  .mainfont(16px,16px);
  color: #222222;
  text-transform: uppercase;
}
.moar-product-item__char, .moar-product-item__value {
  .arialfont (14px,14px);
  color: @textgray;
}
