.promo {
  color: @white;
  padding-bottom: 20px;
  padding-top: 27px;
  background: linear-gradient(to top, white 330px, black 330px);
  @media (min-width:@tablet) {
    background-color: @white;
    background: none;
  }
}
.promo__title {
  .mainfont (36px, 36px);
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  @media (min-width:@tablet) {
    color: @black;
    width: 451px;
    margin-left: 117px;
    .mainfont(60px,60px);
    text-align: left;
  }
}

// .promo__title::before {
//   content: '';
//   display: block;
//   position: absolute;
//   top:70px;
//   width: 320px;
//   height: 300px;
//   background-image: url(../img/catback.jpg);
// }


.promo__signature {
  .mainfont (14px,14px);
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  @media (min-width:@tablet) {
    display: block;
    margin-left: 117px;
    color: @black;
    text-align: left;
    .mainfont(20px,20px);
  }
}
.promo__button {
  .mainfont (14px,18px);
  color: @white;
  text-transform: uppercase;
  background-color: #68B738;
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2px;
  padding-top: 13px;
  padding-bottom: 13px;
  text-decoration: none;
  @media (min-width:@tablet) {
    margin-top: 49px;
    margin-left: 117px;
    padding-top: 14px;
    padding-bottom: 14px;
    .mainfont (20px,20px);
  }
}
.promo__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @media (min-width:@tablet) {
    width: 709px;
    height: auto;
  }
  @media (min-width:@desktop) {
    width: 552px;
    height: auto;
  }
}
