.results__price {
  .mainfont (14px,20px);
  text-transform: uppercase;
}
.results {
  display: flex;
  flex-wrap: wrap;
  @media (min-width:@desktop) {

  }
}
.results__weight {
  @media (min-width:@desktop) {
    width: 162px;
  }
}
.results__day {
  @media (min-width:@desktop) {
    width: 162px;
  }
}
